News/News.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
News/News.xcodeproj/project.xcworkspace/xcuserdata/abc.xcuserdatad/UserInterfaceState.xcuserstate
News/News.xcodeproj/xcuserdata/abc.xcuserdatad/xcschemes/xcschememanagement.plist
